<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.4131104164883327 0.5717750299478929 0.838298639965075" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.4131104164883327 0.5717750299478929 0.838298639965075" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.14450718341358382 0.0 2.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.4296309193592674 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4296309193592674 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8592618387185348 0.3909677946637977 0.9291037436969156" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4296309193592674 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8592618387185348 0.3909677946637977 0.9291037436969156" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.07378397402955783 2.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 -0.48269080747102455 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.48269080747102455 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6367049642989068 0.9653816149420491 0.27814831446953503" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.48269080747102455 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6367049642989068 0.9653816149420491 0.27814831446953503" />
            </geometry>
        </collision>
    </link>
</robot>