<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.5597574845826743 0.824924071721212 0.05674594791580767" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.5597574845826743 0.824924071721212 0.05674594791580767" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.8033746612736614" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 -0.44584780016631426" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.44584780016631426" rpy="0 0 0"/>
            <geometry>
                <box size="0.5447932627866567 0.5334632500177692 0.8916956003326285" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.44584780016631426" rpy="0 0 0"/>
            <geometry>
                <box size="0.5447932627866567 0.5334632500177692 0.8916956003326285" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.9716270260420963" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 -0.03532846563939673" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.03532846563939673" rpy="0 0 0"/>
            <geometry>
                <box size="0.11002431003791413 0.4202052462257543 0.07065693127879347" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.03532846563939673" rpy="0 0 0"/>
            <geometry>
                <box size="0.11002431003791413 0.4202052462257543 0.07065693127879347" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 2.325169502317679" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.0 0.4454646850892787" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.4454646850892787" rpy="0 0 0"/>
            <geometry>
                <box size="0.5493509519483656 0.5468275501364285 0.8909293701785574" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.4454646850892787" rpy="0 0 0"/>
            <geometry>
                <box size="0.5493509519483656 0.5468275501364285 0.8909293701785574" />
            </geometry>
        </collision>
    </link>
</robot>