<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.43222410516235354 0.9727842993972391 0.5732059106286143" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.43222410516235354 0.9727842993972391 0.5732059106286143" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.35606921143925385 0.0 2.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.2794133477927258 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2794133477927258 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5588266955854516 0.3646201054874355 0.8516268664681187" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2794133477927258 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5588266955854516 0.3646201054874355 0.8516268664681187" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.2794133477927258 0.0 -0.42581343323405935" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 -0.09524914388386546" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.09524914388386546" rpy="0 0 0"/>
            <geometry>
                <box size="0.3606419794903213 0.5009639954357905 0.19049828776773092" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.09524914388386546" rpy="0 0 0"/>
            <geometry>
                <box size="0.3606419794903213 0.5009639954357905 0.19049828776773092" />
            </geometry>
        </collision>
    </link>
</robot>